doctype html
doctype html
html
  head
    title= title 
  body
    h1= title
    form(id="boarding-form")
      label(for="vatNumber") VAT Number:
      input(type="text" id="vatNumber" name="vatNumber" required readonly value="2486559-4") 
      br
      label(for="pricePackage") Price Package:
      input(type="text" id="pricePackage" name="pricePackage" required readonly value="power") 
      br
      button(type="submit") Create Boarding
    div(id="result-message")
    script(src="/javascripts/createBoarding.js")