doctype html
doctype html
html
  head
    title= title 
  body
    h1= title
    form(id="boarding-form")
      label(for="vatNumber") VAT Number:
      input(type="text" id="vatNumber" name="vatNumber" required readonly value="2486559-4") 
      br
      label(for="pricePackage") Price Package:
      input(type="text" id="pricePackage" name="pricePackage" required readonly value="power") 
      br
      button(type="submit", id="create-boarding-button") Create Boarding
    <form id="update-company-form" style="display: none;">
      label(for="boardingId") boarding Id:
      input(type="text" id="boardingId" name="boardingId" required readonly) 
      br
      label(for="companyName") Company name:
      input(type="text" id="companyName" name="companyName" required) 
      br
      label(for="companyPhone") Company phone:
      input(type="text" id="companyPhone" name="companyPhone" required) 
      br
      label(for="companyAddressStreet") Company Address Street:
      input(type="text" id="companyAddressStreet" name="companyAddressStreet" required) 
      br
      label(for="companyPostal") Company postal:
      input(type="text" id="companyPostal" name="companyPostal" required) 
      br
      label(for="companyCity") Company city:
      input(type="text" id="companyCity" name="companyCity" required) 
      br
      button(type="submit" id="update-company-info") Update company information
    <div id="add-missing-information-div" style="display: none;">
      <br>
      <button type="button" id="add-missing-company-info">Add missing company information</button>
    <div id="create-sign-div" style="display: none;">
      <br>
      <button type="button" id="create-sign">Create Sign</button>
    div(id="result-message")
    script(src="/javascripts/createBoarding.js")
    script(src="/javascripts/updateCompanyInfo.js")
    script(src="/javascripts/addMissingCompanyInfo.js")
    script(src="/javascripts/createSign.js")
    link(rel='stylesheet', href='/stylesheets/style.css')